<div *ngIf="!tmijsService.client" class="column">
  <!-- Use access token instead of tmijsService.client-->
  <!-- <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="field">
      <label class="label">Twitch Username</label>
      <div class="control">
        <input type="text" placeholder="Username.." formControlName="username" />
      </div>
    </div>
    <div class="field">
      <label class="label">Twitch oAuth Token</label>
      <div class="control">
        <input type="text" placeholder="oAuth.." formControlName="password" />
      </div>
    </div>
    <div class="field">
      <div class="control">
        <a href="https://twitchapps.com/tmi/">Get Twitch oAuth Token Here</a>
      </div>
    </div>
    <div class="field">
      <div class="control">
        <button class="button" type="submit">
          Login
        </button>
      </div>
    </div>
  </form> -->
  <section>
    <div style="color:#6441a5; font-size: 30px;">
      AnguCht
    </div>
    <div style="margin-top: 20px;"><a style="font-size: 20px; " href="{{accessTokenUrl}}">Login with Twitch</a></div>
    <div style="color: #6441a5; font-size: 10px; margin-top: 5px; margin-left: 5px;">*Requires a Twitch
      Account</div>
  </section>
</div>