<div *ngIf="tmijsService.client">
  <h2 class="hidden">Channels</h2>

  <div *ngFor="let stream of getFollowedLiveStreams()">
    <div (click)="copyTo(stream.channel.name, 'channel')">
      #{{ stream.channel.name }}
    </div>
  </div>

  <form [formGroup]="channelsForm" (ngSubmit)="onSubmit()">
    <label for="channel">Join Channel: </label>
    <input formControlName="channel" type="text" />
    <button mat-button name="submit" value="Submit">Join</button>
  </form>

  <div *ngFor="let channel of getJoinedChannels()">
    <input
      type="radio"
      [(ngModel)]="currentChannel"
      [value]="channel"
      (ngModelChange)="selectChannel()"
    />
    {{ channel }}
  </div>

  <!-- <button (click)="toggleShowChannels()">
    Launch example modal
  </button> -->

  <div id="haveChannels" *ngIf="getFollowedLiveStreams()" class="hidden">
    There are channels
  </div>
  <div id="haveCurrentChannel" class="hidden">
    current channel{{ currentChannel }}
  </div>
</div>
