@import "../app.component.scss";

.container {
  width: 98vw;
  margin: 10px;
  padding: 20px;
  border-style: groove;
}

.fill-height {
  height: 98vh;
}

.channel-sidebar {
  min-width: 10vw;
  max-width: 10vw;
}

.messages-sub-container {
  min-width: 80vw;
  max-width: 80vh;
}
