@import "../app.component.scss";

#messagesDiv {
  width: 89vw;
  height: 99vh;
  overflow-y: hidden;
  overflow-x: hidden;
  margin: 5px;
  padding: 0;
}

#messageFormDiv {
  position: -webkit-sticky;
  position: sticky;
  z-index: 9999;
  margin: inherit;
  height: 5vh;
  margin-left: 3px;
}

#chatDiv {
  display: inline-block;
  width: 88vw;
  height: 93vh;
  overflow-y: scroll;
}

.message-full-width {
  width: 88vw;
}

.message-cards {
  display: block;
  margin: 3px;
}
